:root {
  --primary-color: #2d495d;
  --primary-light:#59748a;
  --primary-dark:#002233;
  --menu-footer-color:#fff;

}
/*area personale*/
.container-tour{
  
}
.container-prenotazioni{

}
.container-area{
  margin:5em;
}


#breadcumb{
   font-style: italic;
   color: var(--primary-dark); 
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-size: 1.0em;
  background: #fff;
  color: #848484;
  /*overflow-x: hidden;*/
  overflow: auto;
}


/*messaggi*/

#messaggio{
  font: Open Sans;
  font-size:1em;
  text-align: center;
  color: white;
}

#messaggio>a{color: white;}
/*footer*/

.footer {
  clear: both;
  margin-bottom: 0%;
  width: 100%;
  height: auto;
  background-color: var(--primary-light);
  color: black;
  text-align: center;
}



/*form
form {
  background:var(--primary-light);
  padding: 2em;
  max-width:50em;
  margin:2em auto;
}*/

/*label*/
label {
width:100%;
display:inline-block;
padding-top: 0.5em;
padding-bottom: 0.5em;
  color:white;
  transition:all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:20px;
  
text-align: center;
  width: 100%;
  
}
/*box*/
.box{
  padding: 5em;
    max-width:600px;
    margin:5em auto;
  background:var(--primary-light);
  color:white;
  text-align: center;
}

/*input*/
input, text {
  font-size:22px;
  display:block;
  width:100%;
  background:white;
  background-image:none;
  border:1px solid black;
  color:black;
  text-align: center;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;

}
/*bottoni*/
.button {
  border:1;
  border-color: white;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  margin-top:1em;
  font-size:1.5em;
  font-weight:bold;
  width: 50%;
  height: 2em;
  letter-spacing:.1em;
  background:var(--primary-light);
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;
  
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#notRegistered>a{
  color: blue;
}

.error{
  font: Open Sans;
  font-size:1em;
  text-align: center;
  color: #b71c1c;

}
/*homepage*/

.left{
  background-color: #e5e5e5;
}

.left h2{
  font-size: 2em;
}

.left p{
  /*padding:0.1em;*/
  font-size: 1em;
}
 
#mid{
  float:left;
  width: 50%;
  height: 90%;
  margin-top: 5%;
  margin-bottom:10%;
}


.link{
  border-radius:0.5em;
  font-size:1em;
  font-weight:bold;
  width: auto;
  height: 2em;
  background:var(--primary-light);
  cursor:pointer;
  margin-top: 0.1em;
  text-align:center;

}

a{
  color:white;
}


div.pic img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 15em;
    margin-bottom:1%;
    margin-top:3%;
}

.grid-container {
  display: grid;
  grid-column-gap: 5em;
  grid-template-columns: auto auto;
  padding: 11%;
  padding-top: 0em;
  width: auto;
  height: auto;
  /*capire se piace il rimpicciolimento così*/
 grid-auto-rows: minmax(auto, auto);
}

.container-box1 {
  display: grid;
  grid-template-columns:30% auto;
  
  /* extra styles */
  grid-gap: 2em;
}
  

/*end homepage*/

#header-section img{
    width: 5.5em;
    height: 2.5em;
    margin-right: 5em;
 }

#header-section {
  background: var(--menu-footer-color);
  padding: 0.3em;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 0.0625em solid rgba(255, 255, 255, 0.2);
}

.nav-header{
  width:100%;
  margin-right: 30%;
}

.logo{
    position: relative;
    float:left;
    font-family: Verdana, sans-serif;
    margin:0.175em;
    max-width:12.5em;
    display: flex;
}



#titolo{
  text-align:center;
  color: black;
}




.destra{
  float:right;
}


.centro{
  float:center;
}


.testo{
  text-align:center;
}

#menu-superiore{
    position: relative;
    float:right;
    display: flex;
    margin: 0.7em;
}

    
#menu {
    font-family: Verdana, sans-serif;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
#menu li {
    background-color: var(--menu-footer-color);
   
    display: block;
    width: 6.25em;
    height: 2.5em;
    margin:0.125em;
    margin-bottom: 5em;
    float: left; /* elementi su singola riga */
}
#menu li a {
    padding-top: 0.625em;
    color: #000;
    display: block;
    font-weight: bold;
    line-height: 1.8em;
    text-decoration: none;
    width: 6.25em;
    height: 0.9em;
    text-align: center;
}
#menu li.active, #menu li:hover {
    
    border-bottom: 0.225em solid var(--primary-light);
}

li {
  display: inline;
}


/*.container-box2 {
  display: grid;
  grid-template-columns: auto auto;
  
  //extra styles 
  grid-gap: 4em;
  margin-left: 10%;
}
*/

.sinacc{
	float:right;
	margin-right: 5%;
	margin-bottom: 3%;
}

.buttonRifiuta{
  border:1;
  border-color: var(--primary-dark) ;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  font-size:1.5em;
  font-weight:bold;
  width: 100%;
  height: 2em;
  letter-spacing:.0.5em;
  background:var(--primary-light);
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;
  margin-bottom: 2%;
  /*margin-left: 60%;*/
  
  /* intanto così poi togliere questo e 
  mettere sul footer position relative;*/

  
}
.buttonRifiuta :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.buttonAcettazione{
  border:1;
  border-color: var(--primary-dark) ;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  font-size:1.5em;
  font-weight:bold;
  width: 100%;
  height: 2em;
  letter-spacing:.0.5em;
  background:var(--primary-light);
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;
  margin-bottom: 2%;
  /*margin-left: 60%;*/
  
  /* intanto così poi togliere questo e 
  mettere sul footer position relative;*/

  
}
.buttonAccettazione :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.buttonIscrizione {
  border:1;
  border-color: var(--primary-dark) ;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  font-size:1.5em;
  font-weight:bold;
  width: 20%;
  height: 2em;
  letter-spacing:.0.5em;
  background:var(--primary-light);
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;
  margin-bottom: 5%;
  margin-left: 40%;
  
  /* intanto così poi togliere questo e 
  mettere sul footer position relative;*/
  margin-bottom: 8%;

  
}
.buttonIscrizione :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#descrTour{
  font-size: 1.5em;
  text-align: center;
}

#labelTour{
  font-size: 5em;
  text-align: left;
}

.marginPrincipale{
	width:80%:
	height:90%; 
	padding:5% 5% 5%;
}

.coloret{
	font-size: 1em;
	color: var(--primary-dark);
}

.detourimg{
   width:80%; 
  /* da mettere auto */
  height: 40%;
  border-radius:0.5em;
}

.sfondo{
  padding-top: 2% ;
  padding-left: 1%;
  padding-right: 2%;
  background: var(--primary-light);
  width:70%; 
  /* da mettere auto */
  height: 20em;
  color: white;
  border-radius:0.5em;
  margin-bottom: 5%;

}

.sinistra{
  float: left;
  width: 60%;
}



.sinistratour{float: left; width: 33%;}



div.end {
    clear:both;
}

.sfondotour{
  background: var(--primary-light);
  margin-left: 20%;
  margin-top: 5%;
  width:60%; 

 padding: 2% 5% 2%;
  /* da mettere auto 
  height: 14em;*/
  height: auto;
  color: white;
  border-radius:1em;
  /*margin-bottom: 3%;*/

}


.imgTour{
  /* width:15em; 
  da mettere auto */
  width: 80%;
  border-radius:0.5em;
}

.buttonDettagli {
  border:1;
  border-color: var(--primary-dark) ;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  font-size:1.5em;
  font-weight:bold;
  width: 100%;
  height: 2em;
  letter-spacing:.0.5em;
  background:var(--primary-light);
  color:white;
  cursor:pointer;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;---
  margin-left: 80%;
  --intanto così poi togliere questo e 
  mettere sul footer position relative;--
  margin-top: 80%;*/

  
}



.buttonDettagli :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.disponibilita{
  float:center;
  font-size: 5em;
  color:var(--primary-light);
}

.parag{
	line-height: 0.4em;
}