:root {
  --primary-color: #2d495d;
  --primary-light:#59748a;
  --primary-dark:#002233;
  --menu-footer-color:#fff;

}
/*area personale*/

.container-area{
  margin:5em;
}

#breadcumb{
   font-style: italic;
   color: var(--primary-dark); 
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-size: 1.0em;
  background: #fff;
  color: #848484;
  /*overflow-x: hidden;*/
  overflow: auto;
}


/*messaggi*/

#messaggio{
  font: Open Sans;
  font-size:1em;
  text-align: center;
  color: white;
}

#messaggio>a{color: white;}

/*footer*/
.footer {
	position:relative;
  clear: both;
  width: 100%;
  height: auto;
  background-color: var(--primary-light);
  color: black;
  text-align: center;
}



label {
	width:60%;
	display:inline-block;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
  	color:white;
  	transition:all 0.25s ease;
  	-webkit-backface-visibility: hidden;
  	pointer-events: none;
  	
	text-align: center;
  	width: 100%;
  	border-radius:1em;

}

/*box*/
.box{
	margin:5em auto ; 
	padding: 3em 3em 3em;
	width: 40%;
  background:var(--primary-light);
  color:white;
  text-align: center;
  border-radius:0.5em;
}

.box1{
  padding: 2em;
  background:var(--primary-light);
  color:white;
  text-align: center;
}

/*input*/
input, text {
  display:block;
  width:100%;
  background:white;
  background-image:none;
  border:1px solid black;
  color:black;
  text-align: center;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;

}
/*bottoni*/
.button {
  border:1;
  border-color: white;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  margin-top:1em;
  font-weight:bold;
  width: 50%;
  height: 2em;
  letter-spacing:.1em;
  background:var(--primary-light);
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;
  
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#notRegistered>a{
  color: blue;
}

.error{
  font: Open Sans;
  font-size:1em;
  text-align: center;
  color: #b71c1c;

}
/*homepage*/

.link{
  border-radius:0.5em;
  font-weight:bold;
  width: auto;
  height: 2em;
  background:var(--primary-light);
  cursor:pointer;
  margin-top: 0.1em;
  text-align:center;
}

.link a{
  color:white;
}

.footer a{
  color:white;
}

.pic img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 15em;
    margin-bottom:1%;
    margin-top:3%;
}

<<<<<<< HEAD
@media (max-width: 1000px) {
	.grid-container {
	  display: grid;
	  grid-row-gap: 10%;
	  grid-column-gap: 20%;
	  grid-template-columns: 20% auto;
	  padding-top: 5%;
	  padding-left: 50%;
	  padding-right: 50%;
	  padding-bottom: 5%;
	  /*capire se piace il rimpicciolimento così*/
	}
}

.container-box1 {
  display: grid;
  grid-template-columns:20% auto;
  
  /* extra styles */
  grid-gap: 2em;
}
  


.left{
  width: 100%;
  padding-right:25%;
  padding-left:25%;
  background-color: #e5e5e5;
}

.left h2{
  font-size: 2em;
  word-wrap: break-word;
}

.left p{
  /*padding:0.1em;*/
  font-size: 1em;
  word-wrap: break-word;
}

*{
  box-sizing: border-box;
}


/*end homepage*/

#titolo{
  text-align:center;
  color: black;
}

.destra{
  float:right;
}


.centro{
  float:center;
}


.testo{
  text-align:center;
}

h1{
color: var(--primary-dark);
    text-shadow: rgba(0,0,0,.1);
    font-size: 4em;
    line-height: 1.1;
    position: relative;
    z-index: 2;
    font-family: "Gilroy-ExtraBold",sans-serif;
    font-weight: 400;

  text-align: center;
  font-weight:bold;
}
h2{
  color: var(--primary-dark);
    text-shadow: rgba(0,0,0,.1);
    font-size: 1.5em;
    line-height: 1.1;
    position: relative;
    z-index: 2;
    font-family: "Gilroy-ExtraBold",sans-serif;
    font-weight: 400;

  
  font-weight:bold;

}
.messageTour{
  color:var(--primary-light);
}
/*.container-box2 {
  display: grid;
  grid-template-columns: auto auto;
  
  //extra styles 
  grid-gap: 4em;
  margin-left: 10%;
}
*/

.sinacc{
	float:right;
	margin-right: 5%;
	margin-bottom: 3%;
}

.buttonRifiuta{
  border:1;
  border-color: var(--primary-dark) ;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  font-size:1.5em;
  font-weight:bold;
  width: 100%;
  height: 2em;
  letter-spacing:.0.5em;
  background:var(--primary-light);
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;
  margin-bottom: 2%;
  /*margin-left: 60%;*/
  
  /* intanto così poi togliere questo e 
  mettere sul footer position relative;*/

  
}
.buttonRifiuta :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.buttonAcettazione{
  border:1;
  border-color: var(--primary-dark) ;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  font-size:1.5em;
  font-weight:bold;
  width: 100%;
  height: 2em;
  letter-spacing:.0.5em;
  background:var(--primary-light);
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;
  margin-bottom: 2%;
  /*margin-left: 60%;*/
  
  /* intanto così poi togliere questo e 
  mettere sul footer position relative;*/

  
}
.buttonAccettazione :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.buttonIscrizione {
  border:1;
  border-color: var(--primary-dark) ;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  font-size:1.5em;
  font-weight:bold;
  width: 20%;
  height: 2em;
  letter-spacing:.0.5em;
  background:var(--primary-light);
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;
  margin-bottom: 5%;
  margin-left: 40%;
  
  /* intanto così poi togliere questo e 
  mettere sul footer position relative;*/
  margin-bottom: 8%;

  
}
.buttonIscrizione :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#descrTour{
  font-size: 1.5em;
  text-align: center;
}

#labelTour{
  font-size: 5em;
  text-align: left;
}

@media (max-width: 1000px) {
.marginPrincipale{
	width:80%:
	height:90%; 
	padding:5% 5% 5%;
}
}

.coloret{
	font-size: 1em;
	color: var(--primary-dark);
}

.detourimg{
   width:80%; 
  /* da mettere auto */
  height: 40%;
  border-radius:0.5em;
}

.sfondo{
  padding-top: 2% ;
  padding-left: 1%;
  padding-right: 2%;
  background: var(--primary-light);
  width:70%; 
  /* da mettere auto */
  height: 20em;
  color: white;
  border-radius:0.5em;
  margin-bottom: 5%;

}
.imgCitta{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.sinistra{
  float: left;
  width: 60%;
}


.sinap{ float:left; }

.sinistratour{float: left; width: 33%;}


div.end {
    clear:both;
}

.sfondotour{
  background: var(--primary-light);
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  width:60%; 

 padding: 2% 5% 2%;
  /* da mettere auto 
  height: 14em;*/
  height: auto;
  color: white;
  border-radius:1em;
  /*margin-bottom: 3%;*/

}

.sfondoapa{
  background: var(--primary-light);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width:30%; 
 padding: 2% 2% 2%;
  /* da mettere auto 
  height: 14em;*/
  height: auto;
  color: white;
  border-radius:1em;
  /*margin-bottom: 3%;*/

}

.sfondoAP{
  background: var(--primary-light);
  margin-top: 2%;
  margin-bottom: 5%;
  width:70%; 
  /*da mettere auto 
  height: 14em;*/
  padding: 2% 5% 2%;
  height: auto;
  color: white;
  border-radius:1em;
  /*margin-bottom: 3%;*/

}


.imgTour{
  /* width:15em; 
  da mettere auto */
  width: 80%;
  border-radius:0.5em;
}

.buttonDettagli {
  border:1;
  border-color: var(--primary-dark) ;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  font-size:1.5em;
  font-weight:bold;
  height: 2em;
  letter-spacing:.0.5em;
  background:var(--primary-light);
  color:white;
  cursor:pointer;
  
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;---
  margin-left: 80%;
  --intanto così poi togliere questo e 
  mettere sul footer position relative;--
  margin-top: 80%;*/

  
}

.buttonDettagli :hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.disponibilita{
  float:center;
  font-size: 5em;
  color:var(--primary-light);
}

.parag{
	line-height: 0.4em;
}

html,body{
	height: 100%;
}

.header img{
  max-height: 2em;
}

.header {
  font-family: Verdana, sans-serif;
  overflow: hidden;
  
  padding: 1.11em 0.56em;
}

.header a {
  background-color: var(--menu-footer-color);
  float: left;
  color: black;
  text-align: center;
  padding: 0.66em;
  text-decoration: none;
  font-size: 0.9em; 
  line-height: 1.38;
  border-radius: 0.2em;
}

.header a:hover {
  border-bottom: 0.225em
  solid var(--primary-light);
}

.header a.active {
  border-bottom: 0.225em
  solid var(--primary-light);
}

.header-right {
  float: right;
}

.sinistraparag{
	float:left;
	width: 50%
}

.sinpersarea{
	float: left;
	width: 40%;
	margin-left: 5%;
}


@media(max-width: 600px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right{
  	float:none;
  }
}

@media(max-width:1200px){
  .pic img{
    width: 15em;
    height: 7.5em;
  }

}  

@media(max-width: 600px){
  
  
  .pic img{
    width:7.5em;
    height: 3.75em;
  }
}

@media(max-width: 400px){
  

  pic img{
    width: 1.875em;
    height: 0.9em;
  }
}