.structural {
position:absolute;
left:-624.9375em;
}

#bar{
	width: 100%;
	padding-left:5%;
	padding-right:2%;
}

#search {
	width: 80%;
	height: 0 auto;
	font-size: 1.5em;
	-moz-border-radius: 0.875em;
	-webkit-border-radius: 0.875em;
	border-radius: 0.875em;
	-moz-box-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.75) inset;
	-webkit-box-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.75) inset;
	box-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.75) inset;

}

#bottone {
	width: 10%;
	height: 0 auto;
	margin-right:2%;
	font-size:1em;
	text-align: center;
	-moz-border-radius: 0.875em;
	-webkit-border-radius: 0.875em;
	border-radius: 0.875em;
	background-color: #409fff;

}


/*snippet disabilito formattazione webkit*/

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
-webkit-appearance:none;
}
input[type=search] {
-webkit-appearance:textfield;
-webkit-box-sizing:content-box;
}

/*end*/