:root {
  --primary-color: #009688;
  --primary-light:#52c7b8;
  --primary-dark:#00675b;
  --menu-footer-color:#fff;

}

body{
  margin:0;
}

.logo img{
  max-height: 2em;
}

.header {
  font-family: Verdana, sans-serif;
  overflow: hidden;
  
  padding: 1.11em 0.56em;
}

.header a {
  background-color: var(--menu-footer-color);
  float: left;
  color: black;
  text-align: center;
  padding: 0.66em;
  text-decoration: none;
  font-size: 0.9em; 
  line-height: 1.38;
  border-radius: 0.2em;
}

.header a:hover {
  border-bottom: 0.225em
  solid var(--primary-light);
}

.header a.active {
  border-bottom: 0.225em
  solid var(--primary-light);
}

.header-right {
  float: right;
}

@media(max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}