:root {
  --primary-color: #003366; 
  --primary-light:#9a362a;
  --primary-dark:#660000;
  --menu-footer-color: #fff;

}

html{
	height: 100%;
  padding:0;
}
/*body*/
body {
  height: 100%;
  padding:0;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-size: 1.0em;
  background: #fff;
  color: #848484;

  /*overflow-x: hidden;*/
  overflow: auto;
}


/*footer*/

footer {
	margin-top: 10%;
  clear: both;

  width: 100%;
  height: auto;
  background-color: #660000;
  color: #fff;
  text-align: center;
}
.error{
  color: red;
}
.torna-su{
 width: 20%;
 margin-left: 40%;
 margin-right: 40%;
 margin-top: 1%;
 margin-bottom: 1%;
  border: 0.1em solid #fff;
}
.scritta-torna-su{
  color:#fff;
}
#menu-log-linea{
  color: #660000;


  height: 2em;

}
#menu-log{
  float: right;
  margin-right: 1em;
}
.a-menu-log{
  float: right;
  width: auto;
  text-align: right;
  font-size: 1em;

  margin-right: 1em;
}

.header img{
  max-height: 4em;
}

header {
  font-family: Verdana, sans-serif;
  overflow: hidden;
   border-bottom: 0.1em solid #660000;


}

.header a {
  background-color: var(--menu-footer-color);
  float: left;
  color: black;
  text-align: center;
  padding: 0.66em;
  text-decoration: none;
  font-size: 0.9em; 
  line-height: 1.38;
  border-radius: 0.2em;
}

.header-right a:hover {
  border-bottom: 0.5em
  solid #660000;
}

.header-right a.active {
  border-bottom: 0.225em
  solid #660000;
}

.header-right {
  float: right;
  margin-right: 2%;
}

a{
  text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
    text-decoration-thickness: auto;
    color:#000;
}

.link-parola{
  text-decoration: underline;
}
/*home*/
/*prima parte immagine iniziale e bottoni delle città*/
.box-pulsante{
  float: left;
	width: 13%;
  margin-left: 0.5%;
  margin-right: 0.5%;

}
.titolo-home{
  color: #660000;
  text-align: center;
  font-size: 3em;
}

.lista-citta{
  padding-left: 1%;
  padding-right: 1%;
  margin-top: 1em;
  width: 100%;
  height: 2em;
}

button{
	
  
  background: #fff;
  text-align: center;
  color: #5c5c3d;
  border:  0.2em solid #660000;
  border-radius: 0.2em;
  background: #fff;
  font-size: 1.1em;

}

.citta{
  transition:all 0.25s ease;

}


#homeimg1 { 
  height: 25em;
    background-image: url(img/eventi.jpg);
    background-repeat: no-repeat;
    background-position: center;   
}
/*seconda parte immagine con logo e descrizione di ciò che fa il sito*/
.home-pt2{
  margin-top: 2em;
  height: 17em;
  background: #660000;
}


.box-img-left{
  background-image: url(img/locandina.jpg);
  width: 40%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
}

.box-descr-right{
  width: 55%;
  height: 100%;
  float: right;
  padding: 2%
}

.descr{
  text-align: center;
  color: white;
}
.prossimi-eventi{
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
}
/*terza parte con gli ultimi 3 eventi*/
.home-pt3{
  margin-top: 3em;

}
.box-evento{
  border-radius: 0.3em;
  border: 0.1em solid #660000;
  width: 28%;
  height: 33em;
  padding: 1%;
  float: left;
  margin:1%; 
}
.box-img{
  height: 38%;
  width: 100%;
}


.img-evento{
  float: left;
  width: 100%;
  height: 100%;
}
.box-icona{
 
  width: 10%;
  height: 100%;
  float: left;
  background: white;
}
.box-titolo{
  float: left;
  height: 9%;
  width: 100%;
}
.scritte-evento{
  text-align: center;
  color:#000;
   width: 90%;
  height: 100%;
  float: left;
}
.box-categoria{
  float: left;
  width: 100%;
  height: 9%;
}
.box-data{
  float: left;
  width: 100%;
  height: 9%;
}

#calendario{
  width: 100%;
  height: 100%;
  background-image: url(img/calendar.png);

background-repeat: no-repeat;
  background-position: center; 
}



.box-descr{
  width: 100%;
  height: 19%;
  float: left;

}
.box-luogo{
  float: left;
  width: 100%;
  height: 9%;
}

#local{
  width: 100%;
  height: 100%;
  background-image: url(img/local.png);
  background-repeat: no-repeat;
    background-position: center; 

}



.pageRegistrati, .pageLogin, .pageChange, .pageArea{
  width: 100%;
  float: left;
  box-sizing: border-box;
  outline: none;
  font-size: 1em;
  display: block;
  padding-bottom: 3em;
  border-radius: 0.1em;
  padding-top: 0.5em;

}

.pageRegistrati{
    height: 52em;


  }
.pageLogin{
  height:auto;
}
.box-login-left{
border-radius: 0em;
  border-right: 0.1em solid #660000;
  width: 38%;
  float: left;
  text-align: center;
      color:white;
      text-align: center;
      
      padding-bottom: 2em;
      padding-right: 2%;
}
.box-centrale{
  
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  float: left;
  text-align: center;
      color:white;
      text-align: center;

  margin-bottom: 2em;
  border-radius: 0.4em;
  border:0.1em solid #660000;
  padding-bottom: 1em;
      height: auto;
}
.contatti{
  color: #660000;
  height: 12em;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 0.4em;
  margin-bottom: 2%;
  border:0.1em solid #660000;

}


.box-login-right{
  width: 54%;
  text-align: center;
  float: right;
  background:var(--primary-light);
      color:white;
      text-align: center;
      border-radius:0.5em;
      padding-bottom: 2em;
}

.insertBox{
  border-radius:0.4em solid #660000;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%

}

.titlePage{
  height: 30%;
  text-align: center;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif ;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.form{
  height: 70%;
}
.box-login-descr{
  text-align: center;
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 2.4em;
  background: white;
  color: black;
  padding-left: 1em;
  padding-right: 1em;
  font-style: bold;
}

.imgBoxRight{
 margin-top: 15em;
}

input, text {
  font-size:22px;
  display:block;
  width:100%;
  background:white;
  background-image:none;
  border:1px solid #660000;
  color:black;
  text-align: center;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
  height: 1.7em;

}

.insertBox{
  border: 0.01em solid #660000;

}
.label{
  color: #660000;
  font-size: 1.5em;
}
.pulsante-dettagli{
  height: 7%;
  width: 90%;
  float: left;
}

.button {
  border:1em;
  border-color: white;
  border-style: solid;
  /*outline:none;*/
  border-radius:0.5em;
  margin-top:1em;
  font-size:1em;
  font-weight:bold;
  width: auto;
  height: 2em;
  letter-spacing:.1em;
  background:#660000;
  color:white;
  /* -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;*/
  cursor:pointer;

}


.titolo{
  color: #660000;
  text-align: center;
}
/*area personale*/
.bottone-area{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1em;
  float: left;
  outline: none;
  margin-top: 2%;
  cursor: pointer;
}
.bottone-area:hover {
  background-color: #660000;
  color: #fff;
  border-color: #660000;
}
.area-titoli{
  width: 75%;
  float: left;
}

.area-bottoni{
  width: 25%;
  float: left;
}
.box-left-area{
  width: 49%;
  float: left;
  border-right: 0.1em solid #660000;
}
.piccolo{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

}

.box-right-area{
  width: 50%;
  float: left;
}

.nuovo-evento{
  margin-top: 2em;
}

.box-dettagli{
  float: left;
  width: 100%;
  height: 7%;
}
.scritte-dettagli{
  text-align: center;
  color:#000;
   width: 60%;
  height: 100%;
  margin-right: 10%;
  margin-left: 10%;
  float: left;
  margin-top: 1%;
}

.dettagli-evento{
  width: 95%;
  height:45em;
}

.box-5{
  height: 6%;
}

.box-10{
  height: 38%;
}


.scritte-preferiti{
  text-align: center;
  color:#000;
   width: 10%;
  height: 100%;
  margin-left: 10%;
  margin-right: 2%;
  float: left;

}

.prefe{
  background-repeat: no-repeat;
    background-position: center; 
  border:none;
    cursor: pointer;

  background-image: url(img/heart1.png);
}
.prefe:hover {
  background-color: #f5f5f0;
  color: #fff;
  border-color: #f5f5f0;
}

.noprefe:hover {
  background-color: #f5f5f0;
  color: #fff;
  border-color: #f5f5f0;
}

.noprefe{
  border: none;
  background-repeat: no-repeat;
    background-position: center; 
    cursor: pointer;

  background-image: url(img/heart2.png);
}


.scritte-iscriviti{
  text-align: center;
  color:#000;
   width: 28%;
  height: 100%;
  margin-right: 10%;
  margin-left: 2%;
  float: left;
   
}

.filterDiv {
  
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.selezione {

  height: 100%;

  outline: none;

  cursor: pointer;
  
  text-align: center;
  color: #000;
  
}

.selezione:hover {
  background-color: #660000;
  color: #fff;
  border-color: #660000;
}

.attivo {
  background-color: #660000;
  color: white;
}
.box-width-11{
  width: 11%;
}
/*nuovo evento*/
.input-descrizione{
  height: 12em;
}

.bottone-centrale{
  float: left;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 3em;
  font-size: 1.4em;
}

/*select*/
.select-categoria , .select-citta{
  height: 2em;
}
.select-categoria label{
  float: left;
  width: 50%;
  
}
.select-citta label{
  float: left;
  width: 50%;

}
select{
  border: 2px solid #660000;
  height: 100%;
  width: 40%;
  font-size: 1.5em;
  float: left;
  background: #fff;

}

.select-citta-selected {
  background-color: var(--primary-light);
}

.bottone-invia{
  margin-top: 1em;
}

.img-dettagli{
  height: 55%;
}
.box-evento-indettagli{
  height: 35%;
  width: 40%;
  float: left;
}
.prefe-iscrizione{
  height:10%; 
  padding-top: 2%;
  margin-left: 40%;
  width: 60%;
  float: right;
}
.descr-dettagli{
  height: 35%;
  width: 60%;
  float: left;
}
.titolo-dettagli, .data-dettagli, .luogo-dettagli, .categoria-dettagli{
  height: 25%;
}




@media (max-width: 1111px){
  .box-left-area, .box-right-area{
    width: 100%;
  }
  .box-left-area{
    border-right: 0em;
  }
  .modifica-pw{
    width: 30%;
    margin-right: 0%;
    margin-left: 70%;


  }
  .box-login-left{
      border-right: 0em;
      width: 40%;
      margin-left: 30%;
      margin-right:30%;

  }
  .box-login-right{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .insertBox{
    font-size: 0.8em;
  }
  .selezione{
    font-size: 0.8em;
  }
}




@media (max-width: 650px) {
 
  .lista-citta{
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 1em;
  width: 70%;
  height: 16em;
  }
  .citta-eventi{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 0%;
    padding-right: 0%;
    float: left;
  }
  .categoria-eventi{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    padding-left: 0%;
    padding-right: 0%;
  }
  .home-pt1{
    height: auto;
  }
  .box-pulsante{

  float: left;
  width: 70%;
  margin-bottom: 2%;
  height: 2em;
  margin-right: 15%;
  margin-left: 15%;
  }
  .selezione{
    font-size: 1em;
  }
  .home-pt2{
  margin-top: 2em;
  height: 17em;
  background: #660000;
  }
  .box-evento{
    width: 100%;
    height: 35em;
    font-size: 1.2em;
  }
  .pulsante-dettagli{
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
  }

 
}

}


@media(max-width: 1049px){
 
  .home-pt2{
  margin-top: 2em;
  height: 17em;
  background: #660000;
  }
  .box-evento{
    width: 80%;
    height: 35em;
    font-size: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
  }
  .box-evento-indettagli{
    width: 100%;
  }
  .descr-dettagli{
    width: 100%;
    height: auto;
  }
  .dettagli-evento{
    width: 98%;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
  }
  .prefe-iscrizione{
    width: 100%;
    margin-left: 10%;
    float: left;
  }
}

@media(max-width: 442px){
  .box-evento{
    height: 40em;
  }
  .box-descr p{
    text-overflow: ellipsis; 
    overflow: hidden;
  }
  .box-descr-right p{
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@media(max-width: 600px){
.mobile-container {
	  margin: auto;
	  background-color: white;
	  color: red;
	}

	.topnav {
	  overflow: hidden;
	  background-color: white;
	  position: relative;
	}

	.topnav #myLinks {
	  display: none;
	}

	.topnav a {
	  color: black;
	  padding: 0.5em 0.5em;
	  text-decoration: none;
	  font-size: 1em;
	  display: block;
	}

	.topnav a.icon {
	  background: #660000;
	  display: block;
	  position: absolute;
	  padding: 2em 2em;
	  right: 0;
	  top: 0;
	}

	.topnav a:hover {
	  background-color: #660000;
	  color: white;
	}

	.active {
	  background-color: grey;
	  color: black;
	}
}


@media(max-width: 660px){
  .box-img-left{
    width: 0%;
  }
  .box-descr-right{
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media(max-width: 360px){
  .box-evento{
    height: 15em;

  }
  .box-descr{
    display: none;
  }
  .box-titolo, .box-categoria, .box-data, .box-luogo{
    height:13%; 
    width: 100%;
  }
  .box-icona{
    width: 0%;
  }
  .box-dettagli{
    height: 10%;
    width: 100%;
  }
  .scritte-evento {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
  }
  .scritte-dettagli{
    margin-left: 20%;
    margin-right: 20%;
  }

  #homeimg1 { 
  width: 320px;
    background-image: url(img/eventi.jpg);
    background-repeat: no-repeat;
    background-position: center;   
  }
}



.distanza-header{
	margin-bottom: 3%;
}

.menu-distanza{
	margin-top: 2%;
}

.logo-menu{
	float: left;
	margin-left: 1%;
 }

.pulsante-logo{
  	color:#660000;
  	background: white;
	font-size: 3em;
	border: white;
}

#padd{
	margin-bottom: 1%;
}

@font-face {
  font-family: 'Wkwkwk';
  src: url(./font/Wkwkwk.ttf) format('truetype');;
}

.fontlogo{
	font-family: Wkwkwk;
}

div.end {
    clear:both;
}

.spazio{
	 word-spacing: 1.5em;
}


